<?xml version="1.0"?>
<model>
    <name>plen2_gazebo</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>PLEN2</name>
        <email>support@plenrobotics.com</email>
    </author>
    <description>PLEN2 humanoid robot model for Gazebo.</description>
</model>

